nav{
    position: relative;
    height: 90px;
    a.navbar-brand{
        height:100%;
        img{
            height:100%;
        }

    }

    #nav-destro{
        float: right;

        height: 100%;
        width:60%;
        color:black;
        ;

        div{

            padding:10px 5px ;
            float: right;;
            height: 100%;
            display: flex;
            align-items: center;
            margin-right:5px;
            a{
                padding:0 30px 0 30px ;
                color: #1b3c59;
                height: 100%;
                width:100%;
                line-height: 4;
                font-size: 14px;
            }

            a:hover{
                text-decoration: none;
                border-bottom: 2px solid #73D462;
            }



        }

    }
}



.button{


    button{
        background:#73D462;
        position: relative;
        top:7px;
        margin-left: 10px;
        color:white;
        padding:8px 30px;
        border-radius:5px;
    }

}
